/*
White: FFFFFF;
Dark Blue: 2B57A1;
Medium Blue: 537AD3;
Orange: EFA03E;
Green: 1BBFAB;
Lime: #7FBA49;
Purple: 3E41A8;
10px = 1rem;
*/
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #2B57A1;
  /* dark blue */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  color: #FFFFFF;
  /* white */
  font-size: 3rem;
  font-family: 'Nunito', sans-serif;
}

.nav-links a {
  color: #FFFFFF;
  /* white */
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-left: 2rem;
  display: none;
}

header {
  color: #FFFFFF;
  /* white */
  padding: 0 0 1rem 0;
  background-color: #2B57A1;
  /* dark blue */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

#main div:first-of-type {
  width: 70%;
}

h1 {
  font-size: 1.5rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

.dog-showcase {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 0.5rem solid #537AD3;
  padding: 0;
  margin: 1rem;
  flex-shrink: 0;
}

.dog-showcase img {
  max-height: 120%;
  width: auto;
  position: relative;
  top: -1rem;
  left: 1rem;
}

section {
  padding: 2rem 4rem;
}

h2 {
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

section h2 {
  text-align: center;
}

.pups-container {
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.pup-wrapper {
  width: 50vw;
  height: 20rem;
  border-radius: 0.5rem;
  box-shadow: 0rem 0.1rem 0.3rem 0rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 2rem;
}

.pup-pic {
  width: 100%;
  height: 50rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#pup-1 {
  border: 0.3rem solid #1BBFAB;
  /* green */
}

#pup-1 .pup-pic {
  background-image: url('./images/pup_1.jpeg');
}

#pup-2 {
  border: 0.3rem solid #3E41A8;
  /* purple */
}

#pup-2 .pup-pic {
  background-image: url('./images/pup_2.webp');
}

#pup-3 {
  border: 0.3rem solid #7FBA49;
  /* lime */
}

#pup-3 .pup-pic {
  background-image: url('./images/cat_1.jpeg');
}

#pup-4 {
  border: 0.3rem solid #EFA03E;
  /* orange */
}

#pup-4 .pup-pic {
  background-image: url('./images/pup_4.jpg');
}

.pup-info {
  padding: 1rem 2rem;
}

.pup-name {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 1rem;
}

.pup-byline,
.pup-location {
  font-family: 'Open Sans Condensed', sans-serif;
}

footer {
  background-color: #2B57A1;
  /* dark blue */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
}

@media screen and (max-width: 400px) {}

@media screen and (min-width: 401px) and (max-width: 960px) {
  .logo {
    font-size: 2rem;
  }

  .nav-links a {
    display: inline;
  }

  header {
    flex-direction: row;
  }

  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .pups-container {
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%
  }

  .pup-wrapper {
    width: 45%;
  }

  footer {
    flex-direction: row;
    font-size: 80%;
  }
}

@media screen and (min-width: 961px) {
  .nav-links a {
    display: inline;
  }

  header {
    flex-direction: row;
    padding: 1rem 2rem;
  }

  h1 {
    font-size: 5rem;
    line-height: 7rem;
  }
}